Source: cfbuild-pcre2
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-pcre2-mingw64
Section: libs
Architecture: all
Description: CFEngine Build Automation -- pcre2 -- mingw64
 CFEngine Build Automation -- pcre2 -- mingw64

Package: cfbuild-pcre2-mingw64-devel
Section: libdevel
Architecture: all
Description: CFEngine Build Automation -- pcre2 -- mingw64 -- development files
 CFEngine Build Automation -- pcre2 -- mingw64 -- development files
