#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	./configure --host=$(DEB_HOST_GNU_TYPE) --prefix=$(PREFIX) --enable-shared --disable-static
	make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

	rm -f $(CURDIR)/debian/tmp$(PREFIX)/bin/pcre2grep.exe
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/bin/pcre2test.exe
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libpcre2.la
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libpcre2posix*.*
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/pkgconfig/libpcre2-posix.pc
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/include/pcre2posix.h
# Do not merge those lines into single one -- any new file in share should trigger an error
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/man
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/doc
	rmdir $(CURDIR)/debian/tmp$(PREFIX)/share

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
