#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
  CC_OVERRIDE=
else
  CC_OVERRIDE="CC=$(DEB_HOST_GNU_TYPE)-gcc -static-libgcc"
endif

ifeq ($(SYSTEM_SSL),1)
  SSL_PREFIX=/usr
else
  SSL_PREFIX=$(PREFIX)
endif

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	./configure --with-sysroot=$(PREFIX) \
				--host=$(DEB_HOST_GNU_TYPE) \
				--with-ssl=$(SSL_PREFIX) \
				--with-zlib=$(PREFIX) \
				--prefix=$(PREFIX) \
				--disable-ldap \
				--disable-ldaps \
				--disable-ntlm \
				--without-gnutls \
				--without-gssapi \
				--without-libpsl \
				--without-librtmp \
				--without-libssh2 \
				--without-nghttp2 \
				--without-winidn \
				LDFLAGS="$(LDFLAGS)" \
				$(CC_OVERRIDE) \
				CPPFLAGS="-I$(PREFIX)/include" \

	make
	
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make install DESTDIR=$(CURDIR)/debian/tmp
	find $(CURDIR)/debian/tmp/$(PREFIX)/lib/ -type f ! -name '*.so*' -a ! -name '*.dll' -a ! -name '*.dll.a' -delete

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
