Source: cfbuild-openldap
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-openldap-mingw64
Section: libs
Architecture: any
Description: CFEngine Build Automation -- openldap-mingw64
 CFEngine Build Automation -- openldap-mingw64

Package: cfbuild-openldap-mingw64-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- openldap-mingw64 -- development files
 CFEngine Build Automation -- openldap-mingw64 -- development files
