Source: cfbuild-apache
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-apache
Section: libs
Architecture: any
Description: CFEngine Build Automation -- cfbuild-apache
 CFEngine Build Automation -- cfbuild-apache

Package: cfbuild-apache-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- cfbuild-apache-devel
 CFEngine Build Automation -- cfbuild-apache-devel
