#!/usr/bin/make -f
PREFIX=$(BUILDPREFIX)

CPPFLAGS=-I$(BUILDPREFIX)/include

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	patch -p1 < $(CURDIR)/apachectl.patch

	# Fixed implicit declaration of GNU extension gettid() (See ENT-13084)
	patch -p1 < $(CURDIR)/fixed-implicit-decl-gettid.patch

	# apply patches for openssl 4 support from https://github.com/apache/httpd/pull/642
	patch -p1 < $(CURDIR)/0001-Fix-OpenSSL-4.0-compatibility-and-test-that-in-CI.patch
	patch -p1 < $(CURDIR)/0002-CI-add-OpenSSL-build-binaries-to-PATH.patch
	patch -p1 < $(CURDIR)/0003-CI-test-OpenSSL-3.x-using-Apache-Test-trunk-to-pick-.patch
	patch -p1 < $(CURDIR)/0004-Part-merge-of-r1915513-to-make-the-travis_run_linux..patch
	patch -p1 < $(CURDIR)/0005-Part-merge-of-r1919524-from-trunk.patch
	patch -p1 < $(CURDIR)/0006-CI-The-OpenSSL-no-engine-config-option-is-redundant-.patch
	patch -p1 < $(CURDIR)/0007-Cherry-pick-from-0c9cd095ce9081fd225f0da7787419e80de.patch
	patch -p1 < $(CURDIR)/0008-CI-Try-to-fix-ab-failures-during-OpenSSL-ech-job-set.patch

	./configure \
--prefix=$(PREFIX)/httpd \
--enable-so \
--enable-mods-shared="all ssl ldap authnz_ldap" \
--with-z=$(PREFIX) \
--with-ssl=$(PREFIX) \
--with-ldap=$(PREFIX) \
--with-apr=$(PREFIX) \
--with-apr-util=$(PREFIX) \
--with-pcre=$(PREFIX)/bin/pcre2-config \
CPPFLAGS="$(CPPFLAGS)"
	make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

	# ensure apache-created files are not readable by others, ENT-7948
	echo "umask 0177" >> $(CURDIR)/debian/tmp$(PREFIX)/httpd/bin/envvars

	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/httpd/man
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/httpd/manual
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/httpd/conf/httpd.conf
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/httpd/conf/extra/httpd-ssl.conf
	cp $(CURDIR)/httpd.conf $(CURDIR)/debian/tmp$(PREFIX)/httpd/conf/httpd.conf

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
