#!/usr/bin/make -f
PREFIX=$(BUILDPREFIX)

LDFLAGS="-L$(BUILDPREFIX)/lib -Wl,-R$(BUILDPREFIX)/lib"
CPPFLAGS=-I$(BUILDPREFIX)/include

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	./configure --prefix=$(PREFIX)/httpd --enable-so --enable-mods-shared="all ssl ldap authnz_ldap" --with-z=$(PREFIX) --with-ssl=$(PREFIX) --with-ldap=$(PREFIX)  --with-apr=$(PREFIX) --with-apr-util=$(PREFIX) LDFLAGS=$(LDFLAGS) CPPFLAGS="$(CPPFLAGS)" 
	make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/httpd/man
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/httpd/manual
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/httpd/conf/httpd.conf
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/httpd/conf/extra/httpd-ssl.conf
	cp $(CURDIR)/httpd.conf $(CURDIR)/debian/tmp$(PREFIX)/httpd/conf/httpd.conf
	cp $(CURDIR)/httpd-ssl.conf $(CURDIR)/debian/tmp$(PREFIX)/httpd/conf/extra/httpd-ssl.conf

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
