#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	expr "`cat /etc/debian_version`" : 4 && sed -i 's/ *-Wno-array-bounds//' configure || true
	./configure --prefix=$(PREFIX) --without-python 
	CPPFLAGS="-I$(PREFIX)/include" LD_LIBRARY_PATH="$(PREFIX)/lib" LD_RUN_PATH="/$(PREFIX)/lib" make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	CPPFLAGS="-I$(PREFIX)/include" LD_LIBRARY_PATH="$(PREFIX)/lib" LD_RUN_PATH="$(PREFIX)/lib" make install DESTDIR=$(CURDIR)/debian/tmp 

	rm -f $(CURDIR)/debian/tmp$(PREFIX)/bin/xmlcatalog
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/bin/xmllint
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libxml2.a
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libxml2.la
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/xml2Conf.sh
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
