Source: cfbuild-leech
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-leech-mingw64
Section: libs
Architecture: any
Description: CFEngine Build Automation -- leech -- mingw64
 CFEngine Build Automation -- leech -- mingw64

Package: cfbuild-leech-mingw64-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- leech -- mingw64 -- development files
 CFEngine Build Automation -- leech -- mingw64 -- development files
