Source: cfbuild-redis
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-redis
Section: libs
Architecture: any
Description: CFEngine Build Automation -- redis
 CFEngine Build Automation -- redis

Package: cfbuild-redis-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- redis -- development files
 CFEngine Build Automation -- redis -- development files
