#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

clean:
	dh_testdir
	dh_testroot
	dh_clean

build: build-stamp
build-stamp:
	dh_testdir
	patch -p1 < $(CURDIR)/redis.patch
	make
	cd deps/hiredis && make
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/bin
	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/lib
	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/include/hiredis

	cp -pf $(CURDIR)/src/redis-server $(CURDIR)/debian/tmp$(PREFIX)/bin
	cp -pf $(CURDIR)/src/redis-benchmark $(CURDIR)/debian/tmp$(PREFIX)/bin
	cp -pf $(CURDIR)/src/redis-cli $(CURDIR)/debian/tmp$(PREFIX)/bin
	cp -pf $(CURDIR)/src/redis-check-aof $(CURDIR)/debian/tmp$(PREFIX)/bin

	cp -a $(CURDIR)/deps/hiredis/hiredis.h $(CURDIR)/deps/hiredis/async.h $(CURDIR)/deps/hiredis/adapters $(CURDIR)/debian/tmp$(PREFIX)/include/hiredis
	cp -a $(CURDIR)/deps/hiredis/libhiredis.so $(CURDIR)/debian/tmp$(PREFIX)/lib/libhiredis.so.0.11
	cd $(CURDIR)/debian/tmp$(PREFIX)/lib && ln -sf libhiredis.so.0.11 libhiredis.so.0
	cd $(CURDIR)/debian/tmp$(PREFIX)/lib && ln -sf libhiredis.so.0 libhiredis.so
	cp -a $(CURDIR)/deps/hiredis/libhiredis.a $(CURDIR)/debian/tmp$(PREFIX)/lib

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
