Source: cfbuild-postgresql
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-postgresql-mingw64
Section: libs
Architecture: any
Description: CFEngine Build Automation -- postgresql-mingw64
 CFEngine Build Automation -- postgresql-mingw64

Package: cfbuild-postgresql-mingw64-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- postgresql-mingw64 -- development files
 CFEngine Build Automation -- postgresql-mingw64 -- development files
