#!/usr/bin/make -f

PREFIX=/var/cfengine

EXT_DIR=$(CURDIR)/debian/tmp$(PREFIX)/lib/php

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	phpize
	./configure --prefix=$(PREFIX) CPPFLAGS="-I/var/cfengine/include" LDFLAGS="-L/var/cfengine/lib" LD_LIBRARY_PATH="/var/cfengine/lib" LD_RUN_PATH="/var/cfengine/lib"
	make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(EXT_DIR)
	make install INSTALL_ROOT=$(CURDIR)/debian/tmp
	mv $(CURDIR)/debian/tmp/usr/lib/php5/*/svn.so $(EXT_DIR)
	cp $(CURDIR)/svn.ini $(EXT_DIR)

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot

	dh_install --sourcedir=$(CURDIR)/debian/tmp

	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
