#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

BASEDIR=../..

ifeq ($(SYSTEM_SSL),1)
  SSL_DEPENDS=libssl1.1
else
  SSL_DEPENDS=
endif

clean:
	dh_testdir
	dh_testroot

	dh_clean

build:

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/bin
	cp -a $(PREFIX)/* $(CURDIR)/debian/tmp$(PREFIX)
	cp -a $(BASEDIR)/cfengine/dist/* $(CURDIR)/debian/tmp

# Remove unnecessary files

	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libpromises.la
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libpromises.so
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/cfengine-enterprise.la
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/CoreBase
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/bin/getfacl
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/bin/openssl
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/bin/curl
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/ssl
# remove hub-specific files
	rm -f $(CURDIR)/debian/tmp/etc/init.d/cf-php-fpm

# Debian is different

	mv $(CURDIR)/debian/tmp/etc/sysconfig $(CURDIR)/debian/tmp/etc/default

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif
	dh_compress
	dh_fixperms -X $(PREFIX)/inputs -X $(PREFIX)/outputs -X $(PREFIX)/ppkeys -X $(PREFIX)/modules
	dh_installdeb
	dh_gencontrol -- -Vssl:Depends=$(SSL_DEPENDS)
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
