#!/usr/bin/make -f

PREFIX=/var/cfengine

ifeq (,$(filter expansion,$(DEB_BUILD_OPTIONS)))
  EXCLUDE=-Ncfengine-nova-expansion
else
  EXCLUDE=
endif

BASEDIR=../..

clean:
	dh_testdir
	dh_testroot

	dh_clean

build:

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs $(EXCLUDE)

	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/bin
	cp -a $(PREFIX)/* $(CURDIR)/debian/tmp$(PREFIX)
	cp -a $(BASEDIR)/core/dist/* $(CURDIR)/debian/tmp

# Remove unnecessary files

	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libpromises.la
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libpromises.so
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/CoreBase

ifneq (,$(filter expansion,$(DEB_BUILD_OPTIONS)))
	-rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/php/cfmod.la
	-rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/php/cfengine-enterprise-api.la
endif

# Debian is different

	mv $(CURDIR)/debian/tmp/etc/sysconfig $(CURDIR)/debian/tmp/etc/default

ifneq (,$(filter expansion,$(DEB_BUILD_OPTIONS)))

# GUI, REST, KB
	cp -R $(BASEDIR)/nova/GUI2 $(CURDIR)/debian/tmp$(PREFIX)/share/GUI
	cp -R $(BASEDIR)/nova/rest $(CURDIR)/debian/tmp$(PREFIX)/share/rest
	cp -R $(BASEDIR)/nova/knowledge $(CURDIR)/debian/tmp$(PREFIX)/share/KnowledgeBase
	cp -R $(BASEDIR)/nova/misc/solaris_admin_files $(CURDIR)/debian/tmp$(PREFIX)/share/solaris_admin_files
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/tests
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/application/controllers/testing.php
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/unittest_index.php
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/unit_test.php
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/rest/tests

# Change mode in MP from development to production

	sed "s/define('ENVIRONMENT', 'development')/define('ENVIRONMENT','production')/g" $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/index.php > $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/index.php.tmp
	mv $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/index.php.tmp $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/index.php
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/share/GUI/index.php.tmp

# NovaBase

	cp -R $(BASEDIR)/nova/masterfiles $(CURDIR)/debian/tmp$(PREFIX)/share/NovaBase

	@if [ -f $(BASEDIR)/core/masterfiles/cfengine_stdlib.cf ]; then \
	cp $(BASEDIR)/core/masterfiles/cfengine_stdlib.cf $(CURDIR)/debian/tmp$(PREFIX)/share/NovaBase ;\
	else \
	cp -R $(BASEDIR)/core/masterfiles/libraries $(CURDIR)/debian/tmp$(PREFIX)/share/NovaBase ;\
	fi

# cfconvert

	cp $(CURDIR)/cfconvert $(CURDIR)/debian/tmp$(PREFIX)/bin

# Cleanup

	find $(CURDIR)/debian/tmp/$(PREFIX) -name .svn | xargs rm -rf
endif

binary-indep: build install

binary-arch: build install
	dh_testdir $(EXCLUDE)
	dh_testroot $(EXCLUDE)
	dh_install --sourcedir=debian/tmp $(EXCLUDE)
	dh_link $(EXCLUDE)
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip $(EXCLUDE)
endif
	dh_compress $(EXCLUDE)
	dh_fixperms $(EXCLUDE) -X var/cfengine/inputs -X var/cfengine/outputs -X var/cfengine/ppkeys -X var/cfengine/modules
	dh_installdeb $(EXCLUDE)
	dh_gencontrol $(EXCLUDE)
	dh_md5sums $(EXCLUDE)
	dh_builddeb $(EXCLUDE)

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
