Source: cfbuild-libtool
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-libtool
Section: libs
Architecture: any
Description: CFEngine Build Automation -- libtool
 CFEngine Build Automation -- libtool
