Source: cfbuild-lcov
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-lcov
Section: libs
Architecture: any
Description: CFEngine Build Automation -- lcov
 CFEngine Build Automation -- lcov
