#!/usr/bin/make -f

PREFIX=/var/cfengine
DEB_HOST_GNU_TYPE = $(patsubst arch=%,%,$(filter arch=%,$(DEB_BUILD_OPTIONS)))

clean:
	dh_testdir
	dh_testroot

	rm -f *-stamp
	[ ! -f Makefile ] || make clean

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	patch -p1 < 0001-Prepare-for-cross-compilation.patch

	./configure --host=$(DEB_HOST_GNU_TYPE) --prefix=/var/cfengine
	make qdbm.dll dpmgr dptsv

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/bin
	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/include
	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/lib

	cp dpmgr $(CURDIR)/debian/tmp$(PREFIX)/bin/dpmgr.exe
	cp dptsv $(CURDIR)/debian/tmp$(PREFIX)/bin/dptsv.exe
	cp libqdbm.dll.a $(CURDIR)/debian/tmp$(PREFIX)/lib
	cp qdbm.dll $(CURDIR)/debian/tmp$(PREFIX)/bin
	cp *.h $(CURDIR)/debian/tmp$(PREFIX)/include

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
