#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
  PTHREAD=
else
  PTHREAD=--with-pthread=$(PREFIX)
endif

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	./configure --with-sysroot=$(PREFIX) \
				--host=$(DEB_HOST_GNU_TYPE) \
				$(PTHREAD) \
				--with-ssl=$(PREFIX) \
				--with-zlib=$(PREFIX) \
				--prefix=$(PREFIX) \
				--disable-ldap \
				--disable-ldaps \
				--disable-ntlm \
				--without-axtls \
				--without-cyassl \
				--without-egd-socket \
				--without-gnutls \
				--without-gssapi \
				--without-libidn \
				--without-libpsl \
				--without-librtmp \
				--without-libssh2 \
				--without-nghttp2 \
				--without-nss \
				--without-polarssl \
				--without-winidn \
				--without-winssl \
				CPPFLAGS="-I$(PREFIX)/include" \

	make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make install DESTDIR=$(CURDIR)/debian/tmp

	find $(CURDIR)/debian/tmp/$(PREFIX)/lib/ -type f ! \( -name '*.so*' -o -name '*.pc' \) -delete

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
