[Unit]
Description=CFEngine 3 mount service
ConditionPathExists=/var/cfengine3.img

[Install]
WantedBy=cf-execd.service
WantedBy=cf-monitord.service
WantedBy=cf-serverd.service

[Mount]
What=/var/cfengine3.img
Where=/var/cfengine
Type=xfs
Options=loop,discard
