Source: cfbuild-automake
Section: libs
Priority: optional
Maintainer: CFEngine Packager <patuch@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-automake
Section: libs
Architecture: any
Description: CFEngine Build Automation -- automake
 CFEngine Build Automation -- automake
