#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	# Ubuntu 20.04's kernel-headers lack <linux/openat2.h>; inline the
	# header there. Other platforms only need the SYS_openat2 fallback.
	if [ "$$OS" = ubuntu ] && [ "$$OS_VERSION_MAJOR" = 20 ]; then \
		patch -p1 < $(CURDIR)/fix-missing-openat2-header.patch; \
	else \
		patch -p1 < $(CURDIR)/fix-sys-openat2-undeclared.patch; \
	fi

	# liblz4, libxxhash, libzstd, and libssl give rsync extra compression
	# algorithms, extra checksum algorithms, and allow use of openssl's crypto
	# lib for (potentially) faster MD4/MD5 checksums.
	./configure --prefix=$(PREFIX) --with-included-zlib=$(PREFIX) CPPFLAGS=-I$(PREFIX)/include --disable-xxhash --disable-zstd --disable-lz4

	make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make install DESTDIR=$(CURDIR)/debian/tmp

	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share
	rm $(CURDIR)/debian/tmp$(PREFIX)/bin/rsync-ssl

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
