#!/usr/bin/make -f

PREFIX= $(BUILDPREFIX)
clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	patch -p1 -i no_fancy_gcc.patch

	./configure --prefix=$(PREFIX) --enable-gettext=no

	make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make install DESTDIR=$(CURDIR)/debian/tmp

# configure fails because acl.h does't exist in include dir
# it's placed by default in include/sys

	cp $(CURDIR)/debian/tmp$(PREFIX)/include/sys/acl.h $(CURDIR)/debian/tmp$(PREFIX)/include/

	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/lib/*.a
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/lib/*.la
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/lib/pkgconfig
	find $(CURDIR)/debian/tmp$(PREFIX)/bin/ -mindepth 1 -name 'getfacl' -o -print0 | xargs -0 rm -rf

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
