Source: cfbuild-libmcrypt
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-libmcrypt
Section: libs
Architecture: any
Description: CFEngine Build Automation -- libmcrypt
 CFEngine Build Automation -- libmcrypt

Package: cfbuild-libmcrypt-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- libmcrypt -- development files
  CFEngine Build Automation -- libmcrypt -- development files
