Source: cfbuild-leech
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-leech
Section: libs
Architecture: any
Description: CFEngine Build Automation -- leech
 CFEngine Build Automation -- leech
