#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

clean:
	dh_testdir
	dh_testroot

	rm -f *-stamp

	dh_clean

# AFAIK it is either i686-w64-mingw32 or x86_64-w64-mingw32
ifeq ($(DEB_HOST_GNU_TYPE),i686-w64-mingw32)
TARGET=mingw
CFENGINE_DIR=C:/Program Files/Cfengine
else
TARGET=mingw64
CFENGINE_DIR=C:/Program Files (x86)/Cfengine
endif

build: build-stamp
build-stamp:
	dh_testdir

	# Removed "no-psk" from the options, mingw builds breaks with it
	CROSS_COMPILE=$(DEB_HOST_GNU_TYPE)- ./Configure \
		$(TARGET) $$(<config_flags_$$ROLE.txt) \
		--prefix=$(PREFIX) --libdir=lib -DOPENSSL_NO_LOCALE
	make CPPFLAGS=-DOPENSSLDIR="\"\\\"$(CFENGINE_DIR)/ssl\\\"\"" ### build_crypto build_ssl libcrypto.dll.a libssl.dll.a

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install_sw DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) install_ssldirs DESTDIR=$(CURDIR)/debian/tmp

	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/bin
	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/lib
	mkdir -p $(CURDIR)/debian/tmp$(PREFIX)/include

	cp libcrypto*.dll $(CURDIR)/debian/tmp$(PREFIX)/bin
	cp libcrypto.dll.a $(CURDIR)/debian/tmp$(PREFIX)/lib
	cp libssl*.dll $(CURDIR)/debian/tmp$(PREFIX)/bin
	cp libssl.dll.a $(CURDIR)/debian/tmp$(PREFIX)/lib
	cp -RL include/openssl $(CURDIR)/debian/tmp$(PREFIX)/include

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
