#!/usr/bin/make -f

PREFIX=/var/cfengine

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	./configure --prefix=$(PREFIX) --without-zlib --without-readline
	make -C src/bin/pg_config
	make -C src/backend ../../src/include/utils/fmgroids.h
	make -C src/interfaces/libpq

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make install -C src/bin/pg_config DESTDIR=$(CURDIR)/debian/tmp
	make install -C src/include DESTDIR=$(CURDIR)/debian/tmp
	make install -C src/interfaces/libpq DESTDIR=$(CURDIR)/debian/tmp

	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/share/postgresql
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/include/pg_config*.h
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/include/postgresql/server
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/libpq.a

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
