#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

clean:
	dh_testdir
	dh_testroot

	rm -f *-stamp
	[ ! -f Makefile ] || make clean

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	./configure --host=$(DEB_HOST_GNU_TYPE)
	make

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install prefix=$(CURDIR)/debian/tmp$(PREFIX)

	# This is library is known as -lregex or -lgnuregex to OpenLDAP
	ln -s libgnurx.dll.a \
		$(CURDIR)/debian/tmp$(PREFIX)/lib/libregex.dll.a

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
