Source: cfbuild-libyaml
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-libyaml
Section: libs
Architecture: any
Description: CFEngine Build Automation -- libyaml
 CFEngine Build Automation -- libyaml

Package: cfbuild-libyaml-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- libyaml -- development files
 CFEngine Build Automation -- libyaml -- development files
