#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

#
# glibc-2.8 errorneously hides peercred(3) under #ifdef __USE_GNU.
#
# Remove this after decomissioning all glibc-2.8-based distributions
# (e.g. SLES 11).
#
CPPFLAGS += -D_GNU_SOURCE

ifeq ($(SYSTEM_SSL),1)
  CPPFLAGS += -I$(PREFIX)/include:/usr/include
else
  CPPFLAGS += -I$(PREFIX)/include
endif

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	patch -p1 < f3b49ffa10d93e841d00f05d9f56b88078acf235.patch
	patch -p1 < a599597cb3cb6d36f888bffcbd0b010a644b92c5.patch
	patch -p1 < 75b624f47574dffb1f5041625cf9d6218dbcb07d.patch
	patch -p1 < a704373426e37fd7f4e4beb3be451b5555799517.patch

	# for older compilers we need to patch some code
	patch -p1 < gcc-8.5.patch

	./configure --prefix=$(PREFIX) \
	    --enable-shared \
	    --disable-slapd \
	    --disable-backends \
	    --with-tls=openssl \
	    --without-gssapi \
	    CPPFLAGS="$(CPPFLAGS)"

	make -C include
	make -C libraries

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make install -C include DESTDIR=$(CURDIR)/debian/tmp
	make install -C libraries DESTDIR=$(CURDIR)/debian/tmp

	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/etc
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/*.a
	rm -f $(CURDIR)/debian/tmp$(PREFIX)/lib/*.la

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
