Source: cfbuild-php-curl-old
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper, php5-dev, fakeroot
Standards-Version: 3.8.4

Package: cfbuild-php-curl-old
Section: libs
Architecture: any
Description: CFEngine Build Automation -- php-curl
 CFEngine Build Automation -- php-curl
