Source: cfbuild-mysql
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-mysql
Section: libs
Architecture: any
Description: CFEngine Build Automation -- mysql
 CFEngine Build Automation -- mysql

Package: cfbuild-mysql-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- mysql -- development files
 CFEngine Build Automation -- mysql -- development files
