Source: cfbuild-php-apc
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper, fakeroot
Standards-Version: 3.8.4

Package: cfbuild-php-apc
Section: libs
Architecture: any
Description: CFEngine Build Automation -- php-apc
 CFEngine Build Automation -- php-apc
