Source: cfbuild-libxml2
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-libxml2-mingw64
Section: libs
Architecture: any
Description: CFEngine Build Automation -- libxml2 -- mingw64
 CFEngine Build Automation -- libxml2 -- mingw64

Package: cfbuild-libxml2-mingw64-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- libxml2 -- mingw64 -- development files
 CFEngine Build Automation -- libxml2 -- mingw64 -- development files
