#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	echo ==================== BUILD_TYPE is $$BUILD_TYPE ====================

	test -d $(PREFIX) || ( sudo mkdir $(PREFIX) && sudo chmod 777 $(PREFIX) )
	mkdir -p $(PREFIX)/include

	GLOBAL_CONFIG_FLAGS=`cat config_flags_$$ROLE.txt` ;\
	DEBUG_CONFIG_FLAGS= ;\
	DEBUG_CFLAGS= ;\
	if [ $$BUILD_TYPE = "DEBUG" ] ;\
	then \
		DEBUG_CONFIG_FLAGS="no-asm -DPURIFY" ;\
		DEBUG_CFLAGS="-g2 -O1 -fno-omit-frame-pointer" ;\
	fi ;\
	\
	HACK_FLAGS= ;\
	if [ $$OS = debian ]  &&  [ `echo $$OS_VERSION | cut -d. -f1` = 4 ]  ;\
	then \
	    HACK_FLAGS=-D_GNU_SOURCE  ;\
	fi ;\
	\
	./config $$GLOBAL_CONFIG_FLAGS \
	    $$DEBUG_CONFIG_FLAGS \
	    --prefix=$(PREFIX) \
	    $$HACK_FLAGS   \
	    $$DEBUG_CFLAGS \
	    $$LDFLAGS \
	    --libdir=lib

	$$PERL configdata.pm --dump

	# Remove -O3 and -fomit-frame-pointer from debug and quick builds
	if [ $$BUILD_TYPE = "DEBUG" ] ;\
	then \
		sed -i -e '/^CFLAG=/{s/ -O3//;s/ -fomit-frame-pointer//}'   Makefile ;\
	fi

	make depend
	make

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	make test
endif

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install_sw DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) install_ssldirs DESTDIR=$(CURDIR)/debian/tmp

	rm -f $(CURDIR)/debian/tmp$(PREFIX)/bin/c_rehash

	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/lib/libssl.a
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/lib/libcrypto.a
	rm -rf $(CURDIR)/debian/tmp$(PREFIX)/lib/cmake/OpenSSL

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
