#!/usr/bin/make -f

PREFIX=$(BUILDPREFIX)

clean:
	dh_testdir
	dh_testroot

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	./configure --prefix=$(PREFIX)
	make
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	make check
endif

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install prefix=$(CURDIR)/debian/tmp$(PREFIX)

	rm -f $(CURDIR)/debian/tmp${PREFIX}/lib/libz.a
	rm -rf $(CURDIR)/debian/tmp${PREFIX}/share/man
	rmdir $(CURDIR)/debian/tmp${PREFIX}/share

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
