Source: cfbuild-pcre
Section: libs
Priority: optional
Maintainer: CFEngine Packager <packager@cfengine.com>
Build-Depends: debhelper
Standards-Version: 3.8.4

Package: cfbuild-pcre
Section: libs
Architecture: any
Description: CFEngine Build Automation -- pcre
 CFEngine Build Automation -- pcre

Package: cfbuild-pcre-devel
Section: libdevel
Architecture: any
Description: CFEngine Build Automation -- pcre -- development files
 CFEngine Build Automation -- pcre -- development files
