<?xml version='1.0'?><Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

   <!--
       $ candle cfengine-nova-VERSION-ARCH.wxs \
        -dCfSourceDir="c:\cfpack32" \
        -dCfVersion=0.0.12345 \
        -dCfArch=x86
       $ light -ext WixUtilExtension cfengine-nova.wixobj
   -->
   
   <!-- Input verification -->
   <?ifndef CfSourceDir ?>
        <?error Variable 'CfSourceDir' is not defined  ?>
   <?endif?>

   <!-- Defines -->
   <?if $(var.CfArch) = x86 ?>   <!-- 'x86' or 'x64' --> 
     <?define isWin64 = 'no' ?>
	 <?define dirProgFiles = 'ProgramFilesFolder' ?>
   <?elseif $(var.CfArch) = x64 ?>
     <?define isWin64 = 'yes' ?>
	 <?define dirProgFiles = 'ProgramFiles64Folder' ?>
	<?else?>
	 <?error Variable 'CfArch' must be set to either 'x86' or 'x64' ?>
   <?endif?>
   
   <Product Id='*' Name='Cfengine Nova' Language='1033'
            Version='$(var.CfVersion)' Manufacturer='Cfengine AS' UpgradeCode='B883FBCC-6F05-4AFA-98FA-CAF09BF464EA' >
			
      <Package Description='Cfengine Nova' Platform='$(var.CfArch)'
               Comments='This package contains Cfengine Nova'
               Manufacturer='Cfengine AS' InstallerVersion='200' Compressed='yes' />
	  
	  <Media Id='1' Cabinet='cfnova.cab' EmbedCab='yes' />
	  
	  <!-- Run cf-key after new installation -->
	  <Property Id='GenerateKey' Value='empty, for now'  />
	  <CustomAction Id='GenerateKeyPath' Property='GenerateKey' Value='&quot;[$(var.dirProgFiles)]\Cfengine\bin\cf-key.exe&quot;' Return='check' />
      <CustomAction Id='GenerateKey' BinaryKey='WixCA' DllEntry='CAQuietExec' Execute='deferred' Return='check' />
	  
	  <Property Id='ALLUSERS' Value='1' />  <!-- Install for all users -->
	  
	  <!--  Exit with success if installed version is not older -->
	  <CustomActionRef Id='WixExitEarlyWithSuccess'/>

	  <Directory Id='TARGETDIR' Name='SourceDir'>
        <Directory Id='$(var.dirProgFiles)' Name='$(var.dirProgFiles)'>
          <Directory Id='dir_Cfengine' Name='Cfengine'>
			
			<!-- ===== Cfengine\bin ===== -->
			
            <Directory Id='dir_bin' Name='bin'>
    	      <Component Id='cf_execd.exe' Guid='563060F2-462E-4A3C-90A1-696D5E0713D2' Win64='$(var.isWin64)'>
                <File Id='cf_execd.exe' Name='cf-execd.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf-execd.exe' />
                <ServiceControl Id='cf_execd.exe' Name='CfengineNovaExec' Stop='uninstall' Remove='uninstall' Wait='yes' />
                <ServiceInstall Id='cf_execd.exe' Name='CfengineNovaExec' DisplayName='Cfengine Nova Executor' Type='ownProcess' Start='demand' ErrorControl='normal' Vital='yes' Description='The executor daemon is a scheduler and wrapper for execution of cf-agent. It collects the output of the agent and can email it to a specified address.' />
              </Component>
              <Component Id='cf_agent.exe' Guid='8CEA06F4-1133-4E98-9EEF-9C1D39DEFAA5' Win64='$(var.isWin64)'>
                <File Id='cf_agent.exe' Name='cf-agent.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf-agent.exe' />
              </Component>
              <Component Id='cf_key.exe' Guid='2E9A81B7-B10A-4D1A-BE66-F3097E3D0C32' Win64='$(var.isWin64)'>
                <File Id='cf_key.exe' Name='cf-key.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf-key.exe' />
              </Component>
              <Component Id='cf_monitord.exe' Guid='F9E42EF0-960C-4DEC-87BB-FB0C53F18E7F' Win64='$(var.isWin64)'>
                <File Id='cf_monitord.exe' Name='cf-monitord.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf-monitord.exe' />
              </Component>
              <Component Id='cf_promises.exe' Guid='D3875D39-C53D-47DF-98CC-C393353ACCCD' Win64='$(var.isWin64)'>
                <File Id='cf_promises.exe' Name='cf-promises.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf-promises.exe' />
              </Component>
              <Component Id='cf_report.exe' Guid='5D8299CF-3149-49B6-B3F5-ABB27851C949' Win64='$(var.isWin64)'>
                <File Id='cf_report.exe' Name='cf-report.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf-report.exe' />
              </Component>
              <Component Id='cf_runagent.exe' Guid='89408029-9000-4BB4-A7D6-97B6E5E7B06E' Win64='$(var.isWin64)'>
                <File Id='cf_runagent.exe' Name='cf-runagent.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf-runagent.exe' />
              </Component>
              <Component Id='cf_serverd.exe' Guid='77B9C8CD-AB9F-480C-9141-4561D719334B' Win64='$(var.isWin64)'>
                <Environment Id='Path' Name='Path' Value='[dir_bin]' Separator=';' Action='set' Part='last' System='yes' />
                <File Id='cf_serverd.exe' Name='cf-serverd.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf-serverd.exe' />
              </Component>
              <Component Id='dpmgr.exe' Guid='2B0AE460-8158-11E1-84B0-0021869E8B74' Win64='$(var.isWin64)'>
                <File Id='dpmgr.exe' Name='dpmgr.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\dpmgr.exe' />
              </Component>
              <Component Id='dptsv.exe' Guid='8A160476-8162-11E1-8871-0021869E8B74' Win64='$(var.isWin64)'>
                <File Id='dptsv.exe' Name='dptsv.exe' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\dptsv.exe' />
              </Component>



              <Component Id='cf.events.dll' Guid='B3FB046E-59DD-478C-B54C-F7444447B61F' Win64='$(var.isWin64)'>
                <File Id='cf.events.dll' Name='cf.events.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\cf.events.dll' />
              </Component>
              <Component Id='liblber.dll' Guid='E49FD9D1-1BE9-42F0-B4F7-97B12C32FB88' Win64='$(var.isWin64)'>
                <File Id='liblber.dll' Name='liblber.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\liblber.dll' />
              </Component>
              <Component Id='libldap.dll' Guid='A49EA879-3D89-4FB0-9D53-3E35BE266DB1' Win64='$(var.isWin64)'>
                <File Id='libldap.dll' Name='libldap.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\libldap.dll' />
              </Component>
              <Component Id='libpcre_0.dll' Guid='A32A88D5-6E60-4852-BE95-33FF52CD276D' Win64='$(var.isWin64)'>
                <File Id='libpcre_0.dll' Name='libpcre-0.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\libpcre-0.dll' />
              </Component>
             <Component Id='libpq.dll' Guid='6F4BA3C0-ABAB-45C6-A6A0-9B262058ECA0' Win64='$(var.isWin64)'>
                <File Id='libpq.dll' Name='libpq.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\libpq.dll' />
              </Component>
              <Component Id='pthreadGC2.dll' Guid='C9A99E1A-8ECE-4EAF-96DA-12B6BC298BFD' Win64='$(var.isWin64)'>
                <File Id='pthreadGC2.dll' Name='pthreadGC2.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\pthreadGC2.dll' />
              </Component>
              <Component Id='libcrypto_0.9.8.dll' Guid='3511EBFA-1D63-49E7-971D-5600CA59FD45' Win64='$(var.isWin64)'>
                <File Id='libcrypto_0.9.8.dll' Name='libcrypto-0.9.8.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\libcrypto-0.9.8.dll' />
              </Component>
              <Component Id='libssl_0.9.8.dll' Guid='817a8252-375c-495c-a7c1-349457954730' Win64='$(var.isWin64)'>
                <File Id='libssl_0.9.8.dll' Name='libssl-0.9.8.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\libssl-0.9.8.dll' />
              </Component>
              <Component Id='libgnurx_0.dll' Guid='18554ae8-9c92-4cc7-8e5a-7f41ed2080d6' Win64='$(var.isWin64)'>
                <File Id='libgnurx_0.dll' Name='libgnurx-0.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\libgnurx-0.dll' />
              </Component>
              <Component Id='qdbm.dll' Guid='fbfa752f-dfa9-440e-ac61-51616dc7da7c' Win64='$(var.isWin64)'>
                <File Id='qdbm.dll' Name='qdbm.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\qdbm.dll' />
              </Component>
              <Component Id='zlib1.dll' Guid='ea2e067f-5580-4167-86ba-ec89e560be80' Win64='$(var.isWin64)'>
                <File Id='zlib1.dll' Name='zlib1.dll' KeyPath='yes' DiskId='1' Source='$(var.CfSourceDir)\bin\zlib1.dll' />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
	  
      <Feature Id='CfFeature' Title='CfFeature' Level='1'>
            <ComponentRef Id='cf_execd.exe' />
            <ComponentRef Id='cf_agent.exe' />
            <ComponentRef Id='cf_key.exe' />
            <ComponentRef Id='cf_monitord.exe' />
            <ComponentRef Id='cf_promises.exe' />
            <ComponentRef Id='cf_report.exe' />
            <ComponentRef Id='cf_runagent.exe' />
            <ComponentRef Id='cf_serverd.exe' />
            <ComponentRef Id='dpmgr.exe' />
            <ComponentRef Id='dptsv.exe' />

            <ComponentRef Id='cf.events.dll' />
            <ComponentRef Id='liblber.dll' />
            <ComponentRef Id='libldap.dll' />
            <ComponentRef Id='libpcre_0.dll' />
            <ComponentRef Id='libpq.dll' />
            <ComponentRef Id='pthreadGC2.dll' />
            <ComponentRef Id='libcrypto_0.9.8.dll' />
            <ComponentRef Id='libssl_0.9.8.dll' />
            <ComponentRef Id='libgnurx_0.dll' />
            <ComponentRef Id='qdbm.dll' />
            <ComponentRef Id='zlib1.dll' />
      </Feature>
	
	<UI>
	  <ProgressText Action='GenerateKey'>Generating cryptographic key pair</ProgressText>
	</UI>
	
	
	<Upgrade Id='B883FBCC-6F05-4AFA-98FA-CAF09BF464EA'>
	  <UpgradeVersion Maximum='$(var.CfVersion)'
                      Property='OLDERVERSIONBEINGUPGRADED' />
					  
	  <UpgradeVersion Minimum='$(var.CfVersion)'
                      OnlyDetect='yes'
                      Property='NEWERVERSIONDETECTED' />
    </Upgrade>


	<!-- The sequence numbers are weird to avoid collisions with built-in numbers -->
	
   <InstallExecuteSequence>
     <RemoveExistingProducts Sequence='1450' />
     <InstallInitialize Sequence='1500' />
	 <Custom Action='GenerateKeyPath' After='InstallFiles'>NOT Installed</Custom>
     <Custom Action='GenerateKey' After='GenerateKeyPath'>NOT Installed</Custom>
	 <InstallFinalize Sequence='6600' />
   </InstallExecuteSequence>

   </Product>
</Wix>
