name: Continuous Integration

# Run this CI on all pushes to upstream
# (including PRs from usptream to upstream)
on: push

jobs:
  build_cfengine_hub_package:
    uses: ./.github/workflows/build-using-buildscripts.yml
    secrets: inherit

  deployment_tests:
    needs: build_cfengine_hub_package
    uses: ./.github/workflows/deployment-tests.yml
    secrets: inherit
