name: Continuous Integration

on:
  # run this workflow on pull_request activity
  # this includes opening and pushing more commits
  push:
    branches: [ master, 3.21.x, 3.18.x ]

jobs:
  build_cfengine_hub_package:
    uses: ./.github/workflows/build-using-buildscripts.yml
    secrets: inherit

  deployment_tests:
    needs: build_cfengine_hub_package
    uses: ./.github/workflows/deployment-tests.yml
    secrets: inherit
