name: Continuous Integration

on: pull_request
permissions: read-all

jobs:
  build_cfengine_hub_package:
    # this job only works when submitted from the cfengine organization aka upstream to upstream pull requests: ENT-13038
    if: github.event.organization.login == 'cfengine'
    uses: ./.github/workflows/build-using-buildscripts.yml
    secrets: inherit

  deployment_tests:
    needs: build_cfengine_hub_package
    uses: ./.github/workflows/deployment-tests.yml
    secrets: inherit
